

.heading{
    background-color:bisque;
    height: 70px;
    display: flex;
    font-weight: 800;
}

.logo{
    height: 70px;
    
}

.main{
    display: flex;
}


.left-side{
    
    width: 40%;
    background-color: beige;
}

.inside-left{
    display: flex;
    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: 10%;
    margin-right: 10%;
}

.middle{
    width: 10%;
}

.right-side{
    
    width: 50%;
    background-color:lightgray;
    text-align: center;
}

.picture-placeholder{
    
    width: 400px;
    height: 500px;
    background-color: gray;
}



.cover{
    align-items: center;
    text-align: center;
    position: absolute;
    right: 15%;
    
}


.fade-out {
    text-align: center;
    animation: fadeOut ease 8s;
    -webkit-animation: fadeOut ease 8s;
    -moz-animation: fadeOut ease 8s;
    -o-animation: fadeOut ease 8s;
    -ms-animation: fadeOut ease 8s;
    opacity: 0;
    
    
  }
  @keyframes fadeOut {
    0% {
      opacity:1;
    }
    100% {
      opacity:0;
    }
  }
  
  @-moz-keyframes fadeOut {
    0% {
      opacity:1;
    }
    100% {
      opacity:0;
    }
  }
  
  @-webkit-keyframes fadeOut {
    0% {
      opacity:1;
    }
    100% {
      opacity:0;
    }
  }
  
  @-o-keyframes fadeOut {
    0% {
      opacity:1;
    }
    100% {
      opacity:0;
    }
  }
  
  @-ms-keyframes fadeOut {
    0% {
      opacity:1;
    }
    100% {
      opacity:0;
  }
}

.bottom{
    background-color: aquamarine;
    margin-top: 50px;
    height: 100px;
}