
.background{
    background-color:#BDB5B4;
}
.heading{
    
    background-color:#4A7856;
    height: 70px;
    display: flex;
    font-weight: 800;
}

.logo{
    height: 70px;
    
}

.main{
    display: flex;
}


.left-side{
    margin-top: 100px;
    border-style: double;
    width: 40%;
    background-color: #E5E5E5;
    border-radius: 8%;
}

.inside-left{
    
    display: flex;
    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: 10%;
    margin-right: 10%;
}

.middle{
    width: 10%;
}

.right-side{
    margin-top: 100px;
    border-style: double;
    border-radius: 8%;
    width: 50%;
    background-color:#E5E5E5;
    text-align: center;
}

.picture-placeholder{
    
    width: 400px;
    height: 500px;
    background-color: gray;
}



.cover{
    align-items: center;
    text-align: center;
    position: absolute;
    right: 15%;
    
}


.fade-out {
    text-align: center;
    animation: fadeOut ease 8s;
    -webkit-animation: fadeOut ease 8s;
    -moz-animation: fadeOut ease 8s;
    -o-animation: fadeOut ease 8s;
    -ms-animation: fadeOut ease 8s;
    opacity: 0;
    
    
  }
  @keyframes fadeOut {
    0% {
      opacity:1;
    }
    100% {
      opacity:0;
    }
  }
  
  @-moz-keyframes fadeOut {
    0% {
      opacity:1;
    }
    100% {
      opacity:0;
    }
  }
  
  @-webkit-keyframes fadeOut {
    0% {
      opacity:1;
    }
    100% {
      opacity:0;
    }
  }
  
  @-o-keyframes fadeOut {
    0% {
      opacity:1;
    }
    100% {
      opacity:0;
    }
  }
  
  @-ms-keyframes fadeOut {
    0% {
      opacity:1;
    }
    100% {
      opacity:0;
  }
}

.bottom{
    background-color: #4A7856;
    margin-top:100px;
    bottom: 0px;
    text-align: center;
    height: 100px;
    
}

.logos{
    height: 10%;
}

#ig{

    padding-right: 20px;
    height: 60px;
}

#facebook{
    padding-right: 20px;
    height: 60px;
}

#twitter{
    height: 60px;
}

.contributors{
    margin-top: 300px;
    height: 1800px;
    background-color: #242F40;
    border-radius: 8%;
    display:flexbox;
   
}

.everett{
    text-align:center;
}
#everett{
   
    border-style: solid;
    border-color: yellow;
    padding: 20px;
    border-radius: 100%;
    height: 350px; 
    overflow: hidden;
    
}
.owen{  
    text-align: center;
    
}
#owen{
    border-style: solid;
    border-color: yellow;
    padding: 20px;
    border-radius: 100%;
    height: 350px; 
    overflow: hidden;
}
.ryan{
    text-align: center;
}
#ryan{
    border-style: solid;
    border-color: yellow;
    padding: 20px;
    border-radius: 100%;
    height: 350px; 
    overflow: hidden;
}

.contributor-description{
    
    font-size: large;
    font-family:cursive;
    color:aliceblue;
    padding-left: 40px;
    text-align: center;
}

.description{
    text-align: center;
    font-size: large;
    line-height:40px;
}